# Ignore Python cache
__pycache__/
*.pyc

# Poetry virtual environments
.venv/
poetry.lock

# FAISS index
faiss_index/

# Environment variables
.env

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
